/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "@/assets/layout/styles/layout/layout.scss";

/* Demos */
@import "@/assets/demo/styles/flags/flags.css";
@import "@/assets/demo/styles/badges.scss";

.disabled-div {
  height: 100%;
  z-index: 999999;
  background: rgba(143, 142, 142, 0.585);
  border-radius: 8px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
